/*.container_header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/
/*body {
    margin: 0;
}*/

.container_general_data {
    background: url('img-budget.jpeg') no-repeat;
    width: 100%;
    background-size: cover;
    object-fit: fill;
    /* aspect-ratio: 5/1; */
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;


}

.gen_account_balance {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

#balance {
font-size: 46px;
font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container_income {
    width: 300px;
    max-height: 40px;
    background-color: green;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    font-weight: lighter;
    font-size: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container_expenses {
    width: 300px;
    max-height: 40px;
    background-color: red;
    column-gap: 20px;
    display: flex;
    justify-content: left;
    padding-left: 10px;
    align-items: center;
    font-weight: lighter;
    font-size: 11px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container_data_entry {
    background-color: #f0f0f0;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container_detailed_data {
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.container_detailed_data {
    /*max-width: 1200px;*/
    margin: 10px;
    gap: 400px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

.expenses_data {
    padding-right: 400px;
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.income_data {
    font-weight: lighter;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container-display {
    display: flex;
    justify-content: center;
  }
  
  ul {
    max-width: 400px;
  }
  
  li {
    display: flex;
    gap: 30px;
    max-width: 340px;
  }
  