@import url(reset_update_14.5_morning.css);

/*.container_header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}*/
body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_general_data h3 {
  font-size: 0.9em;
}

h1,
.container_general_data h3 {
  color: #f0f0f0;
  font-weight: 350;
}

.container_general_data {
  background: url('img-budget.jpeg.jpg') no-repeat;
  width: 100%;
  background-size: cover;
  object-fit: fill;
  /* aspect-ratio: 5/1; */
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date-balance-income-outcome-section {
  width: 27%;
  /* max-width: 10em;
  height: 14em; */
  height: 220px;
  display: flex;
  flex-direction: column;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.date-balance-income-outcome-section h2,
p {
  color: rgb(58, 57, 57);
  font-size: 0.6em;
  font-weight: 550;
  padding-top: 6px;
  padding-bottom: 6px;
}

.date-balance-income-outcome-section p {
  padding-right: 8px;
}

#balance {
  font-size: 46px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/*.containerIncomeOutcome {
  border-bottom: 20px;
}*/

.container_income,
.container_expenses {
  /* max-width: 100%; */
  width: 100%;
  max-height: 40px;
  display: flex;
  justify-content: space-between;
  padding-left: 10px;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.container_income {
  background-color: hsl(177, 53%, 42%);
}

.container_expenses {
  background-color: #f53237;
}

.container_data_entry {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* .description_feed {
  width: 30%;
} */

.container-display-transactions {
  display: flex;
  justify-content: center;
}

.container_detailed_data {
  width: 76%;
  /* margin-inline: 10px; */
  gap: 30px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.income_data {
  width: 50%;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.income_data h3 {
  color: hsl(177, 53%, 42%);
}

.expenses_data h3 {
  color: #f53237;
}

.incomes-item {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.income-right {
  display: flex;
  gap: 12px;
}

.expenses_data {
  width: 50%;
  font-weight: lighter;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto,
    Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.income-items .expense-items {
  display: flex;
  flex-direction: column;
}

.expense-item {
  display: flex;
  justify-content: space-between;
  font-size: 24px;
  border-top-style: solid;
  border-top-width: 1px;
  border-bottom-style: solid;
  border-bottom-width: 1px;
}

.expense-right {
  display: flex;
  gap: 12px;
}

/* 

ul {
  max-width: 400px;
}

li {
  display: flex;
  gap: 30px;
  max-width: 340px;
} */

/* .income-mode {
  color: blue;
} */

/* .expense-mode {
  color: red;
} */

#submitInputButton.income-mode {
  color: hsl(177, 53%, 42%);
  /* Submit icon color for income mode */
}

#submitInputButton.expense-mode {
  color: #f53237;
  /* Submit icon color for expense mode */
}

.income-mode .description_feed,
.income-mode .value_feed,
.income-mode #submitInputButton {
  border: 2px solid blue;
  /* Blue border for income mode */
}

.expense-mode .description_feed,
.expense-mode .value_feed,
.expense-mode #submitInputButton {
  border: 2px solid red;
  /* Red border for expense mode */
}

.description_feed,
.value_feed {
  /* Remove existing border properties */
  border: none;
}